<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <!-- Compiled and minified CSS -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>    
<body>
    <nav>
     <div class="nav-wrapper">
       <a href="#" class="brand-logo">COOPERATIVA DE AHORRO Y CREDITO 29 DE ENERO</a>
       <ul id="nav-mobile" class="right hide-onmed-and-down">
         <li><a href="">Inicio</a></li>
         <li><a href="">Registro</a></li>
         <li><a href="">Entrar</a></li>
       </ul>
     </div>
    </nav>
    <footer class= "page-foter"></footer>
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l3">   
                        <div class="card indigo - darken-1">
                            <div class="card-content white-text">
                              <span class="card-title">Mision</span>
                              <p>Ofrecer servicios financieros rentables, orientados a los segmentos de mercado de personas
                                y empresas, siempre encaminando a nuestros socios, con una oferta de productos y servicios
                                de calidad, a través de un equipo humano comprometido y con el soporte tecnológico que
                                aseguren resultados de excelencia.</p>
                            </div>
                        </div>
                        <div class="card indigo - darken-1">
                            <div class="card-content white-text">
                              <span class="card-title">Vision</span>
                              <p>Inspirada en los valores cooperativos, proporciona productos financieros de calidad,
                                asegurando rentabilidad, sostenibilidad a sus asociados, contribuyendo así al desarrollo de
                                la ciudad.</p>
                            </div>
                        </div>
             </div>     
            {% for serv in Servicios %}
            <div class="col s12 m8 l9"> 
                <div class="card light blue accent-3">
                    <div class="card-content white-text">
                    <span class="card-title">{{serv.servicio_nombre}}</span>
                    <p>{{serv.servicio_contenido}}</p>
                    </div>
                    <div class="card-action">
                    <a href="#"> link</a>
                    </div>
                </div>
                </div>
            {% endfor%}  
        </div>
    </div>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Coop. Ahorro y Crédito 29 de Enero</h5>
                  <p class="grey-text text-lighten-2">Dirección Matriz: Calle 10 de Agosto, frente al parque central. Teléfono: 072600085. Chaguarpamba - Loja - Ecuador</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Información</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Conocenos</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Breve Historia</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Preguntas frecuentes</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Contactenos</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2014 CoopAhorroyCredito29Enero
              <a class="grey-text text-lighten-4 right" href="#!">Mapa del Sitio</a>
              </div>
            </div>
          </footer>
    </body>
</html>